<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{%block content%}
<form method="post" type="w">
    {%csrf_token%}
    <div>
    <h1 align="center">TALLER ELECTRONICO</h1>
    <h2 align="center">SERVICIO TÉCNICO</h2>
    <h2 align="center">COMPROBANTE DE RECEPCIÓN</h2>
    </div>
    
    <h2> Fecha: {{tecnicos.fecha}}</h2>
    <HR WIDTH=550>
    <h6><p><em>
        IMPORTANTE: <br>
        Si el equipo no fuera retirado dentro de un plazo de 60 días a contar a partir del día de la fecha de recepción del mismo por parte de la empresa,<br>
        será considerado abandonado en los términos de los artículos del código civil.<br>
        Quedando la empresa facultada a darle el destino que considere pertinente sin necesidad de informar al cliente.<br>
        </em></p>
    </h6>
    <HR WIDTH=550>
    <h2>Orden de reparación N° {{tecnicos.id}}</h2>
    <h2>Cliente: {{tecnicos.cliente}}</h2>
    <h2>Producto: {{tecnicos.producto}}</h2>
    <h2>Marca: {{tecnicos.marca}}</h2>
    <h2>Modelo: {{tecnicos.modelo}}</h2>
    <h2>Color: {{tecnicos.color}}</h2>
    <h2>S/N: {{tecnicos.serie}}</h2>
        {% if tecnicos.extra == None %}
    <h2>Accesorios incluidos: Sin accesorios</h2>
        {% else %}
    <h2>Accesorios incluidos: {{tecnicos.extra}}</h2>
        {% endif %}
    <h2>Estado: {{tecnicos.estado}}</h2>
</form>
{%endblock%}
<p align=right ><sub>Cortar aquí</sub></p>
<HR WIDTH=450>
<br>
    <div>
    <h1 align="center">TALLER ELECTRONICO</h1>
    <h2 align="center">SERVICIO TÉCNICO</h2>
    <h2 align="center">COMPROBANTE DE RECEPCIÓN</h2>
    </div>
<h2> Fecha: {{tecnicos.fecha}}</h2>
    <h2>Orden de reparación N° {{tecnicos.id}}</h2>
    <h2>Cliente: {{tecnicos.cliente}}</h2>
    <h2>Producto: {{tecnicos.producto}}</h2>
    <h2>Marca: {{tecnicos.marca}}</h2>
    <h2> Modelo: {{tecnicos.modelo}}</h2>
    <h2>Color: {{tecnicos.color}}</h2>
    <h2>S/N: {{tecnicos.serie}}</h2>
        {% if tecnicos.extra == None %}
    <h2>Accesorios incluidos: Sin accesorios</h2>
        {% else %}
    <h2>Accesorios incluidos: {{tecnicos.extra}}</h2>
        {% endif %}
    <h2>Estado: {{tecnicos.estado}}</h2>
</body>
</html>






