{% extends 'base/base.html' %}


{%block header%}
{%endblock%}

{% block content %}
<br>
<br>
<form class="form-inline my-2 my-lg-0" type="get" method="POST" action="{%url 'tecnico_buscar'%}" >
 {% csrf_token %}
    <input class="form-control mr-sm-2" type="text" placeholder="Search" name="buscalo" id="busca">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit" href="" id="botonBus">Busqueda por DNI</button>
</form>
<br>
<table class="table table-hover">
    <thead>
    <tr class="table-warning" >
        <td scope="col">#</td>
        <td scope="col">Fecha</td>
        <td scope="col">Cliente</td>
        <td scope="col">Producto</td>
        <td scope="col">Marca</td>
        <td scope="col">Modelo</td>
        <td scope="col">Color</td>
        <td scope="col">N° Serie</td>
        <td scope="col">Estado</td>
        <td scope="col">Acciones</td>
    </tr>
    </thead>
    <tbody>
        {% if object_list%}
        {%for   tecnico in object_list%}
            {% if tecnico.entrega == True %}
        <tr class="table-success">
            {% elif tecnico.entrega == False %}
        <tr class="table-primary">
            {% else %}
        <tr class="table-danger">
            {% endif %}

            <td>{{tecnico.id}}</td>
            <td>{{tecnico.fecha}}</td>
            <td>{{tecnico.cliente}}</td>
            <td>{{tecnico.producto}}</td>
            <td>{{tecnico.marca}}</td>
            <td>{{tecnico.modelo}}</td>
            <td>{{tecnico.color}}</td>
            <td>{{tecnico.serie}}</td>
            {% if tecnico.entrega == True %}
            <td>Entregado</td>
            {% elif tecnico.entrega == False %}
            <td>Pendiente</td>
            {% else %}
            <td>Nuevo</td>
            {% endif %}
            <td>
            <nav class="dropdownmenu">
            <li><a>Seleccionar</a>
            <ul id="submenu">
                <li><a href="{%url 'tecnico_editar' tecnico.id%}">Editar datos</a></li>
                <li><a href="{%url 'informe_editar' tecnico.id%}">Informe Técnico</a></li>
                <li><a href="{%url 'recibo_pdf' tecnico.id%}">Comprobante de ingreso</a></li>
                {% if tecnico.entrega == False or tecnico.entrega == None %}
                <li><a href="" class="boton1">Comprobante de pago</a></li>
                {% else %}
                <li><a href="{%url 'pago_pdf' tecnico.id%}">Comprobante de pago</a></li>
                {% endif %}
            </ul>
            </li>
            </nav>
            </td>
        </tr>
        {%endfor%}
        {% else %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Ups! </strong>tú registro esta vacio, <a href="{% url 'tecnico_nuevo' %}" class="alert-link">ingresa uno</a>.
        </div>
        {%endif%}
    </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif%}
      {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      {% endif%}
  </ul>
</nav>

{% endblock%}

{% block js%}
<script>
    $(document).ready(function() {
        $('.boton1').click(function() {
            window.alert('Realiza el informe técnico y cambia el estado a "Entregado" \nDe esa manera podrás emitir el comprobante de pago!');
        });
    });
</script>

<script>
    $(document).ready(function() {
        $('#botonBus').click(function() {
            var buscar = $('#busca').val();
            if (buscar==""){
                window.alert('Ingresa un DNI para realizar una busqueda');
            }
        });
    });
</script>

{%endblock%}