<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	{% load staticfiles %}
	{% block estatic %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/submenu.css' %}">
	<link rel="stylesheet" href="{% static 'css/imagen.css' %}">
	<script src="{% static 'js/jquery.min.js'%}"></script>

	{% endblock %}

	<title>{% block title %}Taller Electronico {% endblock %}</title>
</head>
{%block body%}
<body>
	{%block header%}
	<header>
		<div class="container-image">
			<img src="{% static 'img/tecnico.png' %}" class="img-logo"/>
		</div>
	</header>

	{%endblock%}
	<div class="container">

		{% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="collapse navbar-collapse" id="navbarsExample03">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{%url 'index'%}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clientes</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" href="{%url 'cliente_nuevo'%}">Nuevo cliente</a>
                    <a class="dropdown-item" href="{%url 'cliente_listar'%}">Lista de clientes</a>
                  </div>
                </li>
                   <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servicio técnico</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" href="{%url 'tecnico_nuevo'%}">Nuevo servicio</a>
                    <a class="dropdown-item" href="{%url 'tecnico_listar'%}">Lista de servicios</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>


		{% endblock %}


		{% block content %}

		{% endblock %}

		{% block footer %}
		{% endblock%}


	</div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
 </body>
{% endblock %}
{% block js%}
{% endblock%}

</html>